{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}

    {% include 'includes/navbar.html' %}


        <!-- Faq Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-portfolio-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Contact Us</h5>
                            <h1 class="section-title fade-in">We are always open to talk</h1>
                            <p>We have offices and teams all around the world</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section class="contact-area2">
            <div class="custom-container">
                <div class="contact-inner">
                    <div class="contact-map-wrap">
                        <h4>Connect Us</h4>


                        <div id="map">
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <img src="{% static 'img/map.svg' %} " alt="Map"/>
                        </div>
                    </div>
                    <div class="contact-inner-info-box d-flex align-items-center">
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-headset"></i></div>
                            <h4>Support</h4>
                            <p>Contact our fast support team</p>
                            <h6><a href="mailto:bluebsupport@mail.com">bluebsupport@mail.com</a></h6>
                        </div>
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-phone"></i></div>
                            <h4>Phone</h4>
                            <p>Mon-Fri from 9am to 6pm.</p>
                            <h6><a href="tel:+1-938-740-7555">+1-938-740-7555</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Location -->
        <section class="contact-location-area">
            <img class="animation-slide-left bg-shape" src="{% static 'img/bg-shape-7.svg' %} " alt="Shape"/>
            <div class="custom-container">
                <div class="custom-row justify-content-between align-items-center">
                    <div class="contact-location-left-content">
                        <div class="contact-location-left-body">
                            <h5 class="section-subtitle">Locations</h5>
                            <h1 class="section-title">Visit our store all <br>
                                around the <br>
                                world</h1>
                            <p>Our location is strategically situated at the heart of City, making it an ideal destination for businesses and visitors alike.</p>
                        </div>
                    </div>

                    <div class="right">
                        <div class="contact-locations-list">

                            <div class="contact-location-box">
                                <div class="number">
                                    #1
                                </div>
                                <div class="content">
                                    <h3>New York, USA</h3>
                                    <p>720/5, Starc Street,
                                        North View, New York</p>
                                </div>
                            </div>
                            <div class="contact-location-box">
                                <div class="number">
                                    #2
                                </div>
                                <div class="content">
                                    <h3>Edinburgh, UK</h3>
                                    <p>5/3, Hilton Clinch, NS
                                        Bay Low, Aberdeen</p>
                                </div>
                            </div>
                            <div class="contact-location-box">
                                <div class="number">
                                    #3
                                </div>
                                <div class="content">
                                    <h3>Cape Town, SA</h3>
                                    <p>Marco Street, Seventh
                                        Road, Cape Town</p>
                                </div>
                            </div>
                            <div class="contact-location-box">
                                <div class="number">
                                    #4
                                </div>
                                <div class="content">
                                    <h3>Madras, IND</h3>
                                    <p>3/5, Geils Street
                                        Mannady, Madras</p>
                                </div>
                            </div>
                            <div class="contact-location-box">
                                <div class="number">
                                    #5
                                </div>
                                <div class="content">
                                    <h3>Tokyo, JAP</h3>
                                    <p>77, Xiong Street, Main
                                        Town, Tokyo, Japan</p>
                                </div>
                            </div>
                            <div class="contact-location-box">
                                <div class="number">
                                    #6
                                </div>
                                <div class="content">
                                    <h3>Canberra, AUS</h3>
                                    <p>458, Highland Street,
                                        Sydney, Australia</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact -->
        <section class="contact-area">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="contact-form-wrap">
                        <div class="contact-form-body">
                            <h5 class="section-subtitle">Contact</h5>
                            <h1 class="section-title">Lets get in touch</h1>
                            <p>You can reach us anytime via <a href="mailto:bluebase@mail.com">bluebase@mail.com</a></p>
                            <form action="https://wpriverthemes.com/HTML/synck/assets/mail/contact.php" method="POST" class="contact-form">
                                <div class="input-row">
                                    <div class="input-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" id="first_name" name="first_name" placeholder="First Name" />
                                    </div>
                                    <div class="input-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" id="last_name" name="last_name" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" placeholder="Your Email" />
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group phone-number">
                                        <select class="number-prefix">
                                            <option value="uk">UK</option>
                                            <option value="us">US</option>
                                        </select>
                                        <label for="phone_number">Phone Number</label>
                                        <input type="text" id="phone_number" name="phone_number" placeholder="Your Number" />
                                    </div>
                                    <div class="input-group">
                                        <label for="country">Country</label>
                                        <input type="text" id="homeland" name="country" placeholder="Your Country" />
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message"
                                            placeholder="Leave us a message...."></textarea>
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group input-checkbox">
                                        <input type="checkbox" id="privacy_policy_accept" name="privacy_policy_accept">
                                        <label for="privacy_policy_accept">You agree to our <a href="#">terms and conditions.</a></label>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="input-group">
                                        <button id="submit" class="theme-btn">Get Started</button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="input-row">
                                    <div class="input-group alert-notification">
                                        <div id="alert-message" class="alert-msg"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="contact-experience">
                        <ul>
                            <li>
                                <h1>22+ <span>Years</span></h1>
                                <p>Field Experience </p>
                            </li>
                            <li>
                                <h1>950+ <span>Projects</span></h1>
                                <p>Done Around World </p>
                            </li>
                            <li>
                                <h1>99%</h1>
                                <p>Client Satisfaction</p>
                            </li>
                            <li>
                                <h1>1995+ <span>Year</span></h1>
                                <p>Established On</p>
                            </li>
                            <li>
                                <h1>2 <span>Mins</span></h1>
                                <p>Response Time</p>
                            </li>
                        </ul>
                    </div>

                    <div class="contact-infos">
                        <div class="contact-infos-inner">
                            <div class="contact-info">
                                <img src="{% static 'img/support-icon.svg' %} " alt="Support" />
                                <h3>Contact Info</h3>
                                <p>
                                    +1 455 1482 236 <br>
                                    Bluebase@mail.com
                                </p>
                            </div>
                            <div class="contact-office-info contact-info">
                                <img src="{% static 'img/map-icon.svg' %} " alt="Map" />
                                <h3>Visit our office</h3>
                                <p>16/9, Down Street
                                    Edinburgh, Scotland
                                    United Kingdom</p>
                            </div>

                            <ul class="contact-social-links">
                                <li>
                                    <a href="#">
                                        <i class="iconoir-dribbble"></i> Dribbble
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoir-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoir-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoir-linkedin"></i> linkedin
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {% include 'includes/footer.html' %}
{% endblock %}