{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block content %}

    {% include 'includes/navbar.html' %}


        <!-- Faq Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-portfolio-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Contact Us</h5>
                            <h1 class="section-title fade-in">We are always open to talk</h1>
                            <!-- <p>We have offices and teams all around the world</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section class="contact-area2">
            <div class="custom-container">
                <div class="contact-inner">
                    <!-- <div class="contact-map-wrap">
                        <h4>Connect Us</h4>
                        <div id="map">
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <div class="map-location-item">
                                <div class="map-location-item-inner">
                                    <img src="{% static 'img/flag.png' %} " alt="Flag" />
                                    <div class="content">
                                        <h3>New York, USA</h3>
                                        <p>720/5, Starc Street,
                                        North View, New York</p>
                                    </div>
                                </div>
                                <span class="circle"></span>
                            </div>
                            <img src="{% static 'img/map.svg' %} " alt="Map"/>
                        </div>
                    </div> -->
                    <div class="contact-inner-info-box d-flex align-items-center">
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-headset"></i></div>
                            <h4>Support</h4>
                            <p>Contact our fast support team</p>
                            <h6><a href="mailto:bluebsupport@mail.com">support.solvifyhub@gmail.com</a></h6>
                        </div>
                        <div class="contact-info-box simple-shadow">
                            <div class="icon"><i class="las la-phone"></i></div>
                            <h4>Phone</h4>
                            <!-- <p>Mon-Fri from 9am to 6pm.</p> -->
                            <h6 style="display: flex; flex-direction: column;">
                                <a href="tel:+91-886-624-9910">+91-886-624-9910</a>
                                <a href="tel:+91-910-468-4900">+91-910-468-4900</a>
                                <a href="tel:+91-742-708-9473">+91-742-708-9473</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    {% include 'includes/lets_get_in_touch_form.html' %}
    {% include 'includes/footer.html' %}
{% endblock %}