{% extends 'base.html' %}
{% load static %}
{% block title %} FAQ {% endblock %}
{% block content %}

    {% include 'includes/navbar.html' %}




        <!-- Faq Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-portfolio-wrap hero-faq-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">FAQ</h5>
                            <h1 class="section-title fade-in">Our expert team give answers to <br>
                                your common questions</h1>
                            <p>Welcome to our FAQs section, where we address the most common questions and <br>
                                queries our clients and visitors often have.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Faq -->
        <section class="faq-area  faq-style-2-area">
            <div class="custom-container">
                <div class="faq-inner">

                    <h5 class="section-subtitle">FAQ SECTION</h5>
                    <h1 class="section-title">Frequently asked questions</h1>

                    <div class="faq-items-box">
                        <div class="faq-col">
                            <div  id="accordion">
                                <div class="faq-box">
                                    <h5 class="card-header" id="headingOne">
                                        <button data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <div class="icon">
                                                <img src="{% static 'img/question-icon.svg' %} " alt="Icon" />
                                            </div> What does your company will provide?
                                        </button>
                                    </h5>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            At our IT service company, we give offer a comprehensive range of Web, App and Cloud solutions,
                                            including managed IT in services and network infrastructure setup.
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-box">
                                    <h5 class="card-header" id="headingSix">
                                        <button data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                            aria-expanded="false" aria-controls="collapseSix">
                                            <div class="icon">
                                                <img src="{% static 'img/question-icon.svg' %} " alt="Icon" />
                                            </div> How can we get started with your services?
                                        </button>
                                    </h5>

                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                        data-parent="#accordion2">
                                        <div class="card-body">
                                            To get started with our services, simply contact us through our website or give us a call. Our team will guide you through the process, ensuring a smooth start.
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-box">
                                    <h5 class="card-header" id="headingTwo">
                                        <button data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            <div class="icon">
                                                <img src="{% static 'img/question-icon.svg' %} " alt="Icon" />
                                            </div> Do you offer training for employees?
                                        </button>
                                    </h5>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            Absolutely! We provide comprehensive training sessions to ensure your team is proficient with the tools and processes we implement, fostering a smooth transition and ongoing success.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="faq-col">
                            <div id="accordion2">
                                <div class="faq-box">
                                    <h5 class="card-header" id="headingFour">
                                        <button data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="true" aria-controls="collapseFour">
                                            <div class="icon">
                                                <img src="{% static 'img/question-icon.svg' %} " alt="Icon" />
                                            </div> Can you assist with recovery planning?
                                        </button>
                                    </h5>

                                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                                        data-parent="#accordion2">
                                        <div class="card-body">
                                            Yes, our team offers expert recovery planning services to ensure your business is prepared for any contingency, minimizing downtime and protecting your data.
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-box">
                                    <h5 class="card-header" id="headingFive">
                                        <button data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                            aria-expanded="false" aria-controls="collapseFive">
                                            <div class="icon">
                                                <img src="{% static 'img/question-icon.svg' %} " alt="Icon" />
                                            </div> Can you help with cloud management?
                                        </button>
                                    </h5>

                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                        data-parent="#accordion2">
                                        <div class="card-body">

                                            Yes! We specialize in efficient, secure AWS cloud management solutions.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="faq-items-box">
                        <div class="faq-box">
                            <div class="icon">
                                <img src="./{% static 'img/question-icon.svg' %} " alt="Icon"/>
                            </div>
                            <div class="content-body">
                                <h3>What does your company will provide?</h3>
                                <p>At our IT service company, we give offer a comprehensive range of server solutions, including managed IT in services, network infrastructure setup.</p>
                            </div>
                        </div>
                        <div class="faq-box">
                            <div class="icon">
                                <img src="./{% static 'img/question-icon.svg' %} " alt="Icon"/>
                            </div>
                            <div class="content-body">
                                <h3>What does your company will provide?</h3>
                                <p>At our IT service company, we give offer a comprehensive range of server solutions, including managed IT in services, network infrastructure setup.</p>
                            </div>
                        </div>
                        <div class="faq-box">
                            <div class="icon">
                                <img src="./{% static 'img/question-icon.svg' %} " alt="Icon"/>
                            </div>
                            <div class="content-body">
                                <h3>Do you offer 24/7 support for services?</h3>
                            </div>
                        </div>
                        <div class="faq-box">
                            <div class="icon">
                                <img src="./{% static 'img/question-icon.svg' %} " alt="Icon"/>
                            </div>
                            <div class="content-body">
                                <h3>Can you assist with recovery planning?</h3>
                            </div>
                        </div>
                        <div class="faq-box">
                            <div class="icon">
                                <img src="./{% static 'img/question-icon.svg' %} " alt="Icon"/>
                            </div>
                            <div class="content-body">
                                <h3>Can you help with cloud management?</h3>
                            </div>
                        </div>
                        <div class="faq-box">
                            <div class="icon">
                                <img src="./{% static 'img/question-icon.svg' %} " alt="Icon"/>
                            </div>
                            <div class="content-body">
                                <h3>How can get started with your services?</h3>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>


        <!-- About -->
        <section class="about-service3-area">
            <div class="custom-container">
                <div class="custom-row align-items-center">
                    <div class="img-box">
                        <img src="{% static 'img/about-service-2.png' %} " alt="About" />
                    </div>

                    <div class="content-box">
                        <h1>Why our services are <br>
                            better than others?</h1>
                        <p>We don't believe in a one-size-fit-all approach. Our services are carefully customized to suit your specific need, ensuring you to achieve your goals.</p>
                        <p>We believe in delivering value that extends  your beyond the immediate project. Our services are designed to provide a long-term benefits.</p>
                        <ul>
                            <li>
                                <i class="las la-check"></i> Fast Delivery
                            </li>
                            <li>
                                <i class="las la-check"></i> Quick Response
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- CTA -->
        <section class="cta-area cta-area2">
            <div class="custom-container">
                <div class="cta-body text-center d-flex align-items-center justify-content-between">
                    <img src="{% static 'img/bg-shape-12.png' %} " alt="Shape" class="animation-slide-right bg-shape"/>
                    <div class="left">
                        <div class="our-expert-team-box">
                            <div class="our-expert-team-box-inner d-flex align-items-center">
                                <div class="imgs d-flex align-items-center">
                                    <img src="{% static 'img/small-img-4.png' %} " alt="team" />
                                    <img src="{% static 'img/small-img-3.png' %} " alt="team" />
                                    <img src="{% static 'img/small-img-2.png' %} " alt="team" />
                                    <img src="{% static 'img/small-img-1.png' %} " alt="team" />
                                </div>
                            </div>
                        </div>
                        <h2>Build your project with us, Make it world class</h2>
                        <p>Our projects are born from a passion for innovation that knows no bounds.</p>
                    </div>
                    <a href="{% url 'solvifyhub:contact' %}" class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>



        {% include 'includes/lets_get_in_touch_form.html' %}
        {% include 'includes/footer.html' %}
        {% endblock %}
