{% extends 'base.html' %}
{% load static %}
{% block title %} Partner {% endblock %}
{% block content %}

    {% include 'includes/navbar.html' %}


        <!-- Partner Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-partner-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Partner</h5>
                            <h1 class="section-title fade-in">We have great partners in
                                modern world</h1>
                            <p>Our partners play a pivotal role in our journey, bringing diverse expertise, resources,
                                and shared values to the table.</p>
                        </div>
                    </div>
                </div>


                <!-- Client Section -->
                <section class="client-area">
                    <div class="clients clients-marquee d-flex align-items-center">
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo1.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo2.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo3.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo4.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo5.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo2.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo3.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo4.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo5.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo simple-shadow">
                            <img src="{% static 'img/client-logo2.svg' %} " alt="Client" />
                        </div>
                        <div class="client-logo" style="min-width: 0;"></div>
                    </div>
                </section>
            </div>
        </section>


        <!-- Service -->
        <section class="company-service-area partner-service-area">
            <div class="custom-container">
                <div class="partner-service-inner">
                    <div class="hero-service-about">
                        <div class="section-header d-flex align-items-center justify-content-between w-full">
                            <div class="left">
                                <h5 class="section-subtitle">WHAT WE'RE OFFERING</h5>
                                <h1 class="section-title">What our partners think about us?</h1>
                                <p>We invite you to explore our blog and become part of our journey towards growth.</p>
                            </div>
                            <a href="{% url 'solvifyhub:contact' %}" class="theme-btn">Contact Us</a>
                        </div>

                        <img src="{% static 'img/hero-partner-about.jpg' %} " alt="Service About"/>
                        <div class="hero-service-about-body">
                            <p>Our team is a collective force of top talents, pros, experts, and visionaries from diverse fields. With a passion for excellence, our professionals bring a wealth of experience and knowledge to every project. At Slack, we are committed to delivering nothing short of excellence. From concept to implementation, we maintain the highest standards of quality and craftsmanship, leaving no room for compromise.</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Managed Services and Products
                                </li>
                                <li>
                                    <i class="las la-check"></i> Flexibility and Adaptability
                                </li>
                                <li>
                                    <i class="las la-check"></i> Competitive Advantage
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Partners -->
        <section class="partner-area">
            <div class="custom-container">
                <div class="custom-row align-items-center">
                    <div class="partner-left-content">
                        <h5 class="section-subtitle">PARTNERS</h5>
                        <h1 class="section-title">Trusted by our
                            customers &
                            partners</h1>
                        <p>Our commitment to excellence extends beyond immediate team. We actively seek out partners who share our values,
                                vision and dedication.</p>
                    </div>
                    <div class="right">
                        <div class="partners-list-wrap">

                            <div class="partners-list-inner">
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo7.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo8.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo9.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo10.svg' %} " alt="Client" />
                                </div>
                            </div>

                            <div class="partners-list-inner">
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo11.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo2.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo12.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo13.svg' %} " alt="Client" />
                                </div>
                            </div>

                            <div class="partners-list-inner">
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo14.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/upwork.svg' %}"  alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo15.svg' %} " alt="Client" />
                                </div>
                                <div class="partner-box">
                                    <img src="{% static 'img/client-logo16.svg' %} " alt="Client" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- About -->
        <section class="about-service4-area about-service3-area">
            <div class="custom-container">
                <div class="about-service4-inner d-flex align-items-center">
                    <div class="img-box">
                        <img src="{% static 'img/partner-trusted.jpg' %} " alt="About" />
                    </div>

                    <div class="content-box">
                        <h1>Why our partners are
                            trust us?</h1>
                        <p>We don't believe in a one-size-fit-all approach. Our services are carefully customized to suit your specific need, ensuring you to achieve your goals.</p>
                        <p>We believe in delivering value that extends  your beyond the immediate project. Our services are designed to provide a long-term benefits.</p>
                        <ul>
                            <li>
                                <i class="las la-check"></i> PPD Development
                            </li>
                            <li>
                                <i class="las la-check"></i> Quick Response
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- CTA -->
        <section class="cta-area">
            <div class="custom-container">
                <div class="cta-body text-center">
                    <img src="{% static 'img/bg-shape-11.svg' %} " alt="Shape" class="animation-slide-left bg-shape"/>
                    <div class="our-expert-team-box">
                        <div class="our-expert-team-box-inner d-flex align-items-center">
                            <div class="imgs d-flex align-items-center">
                                <img src="{% static 'img/small-img-4.png' %} " alt="team" />
                                <img src="{% static 'img/small-img-3.png' %} " alt="team" />
                                <img src="{% static 'img/small-img-2.png' %} " alt="team" />
                                <img src="{% static 'img/small-img-1.png' %} " alt="team" />
                            </div>
                        </div>
                    </div>
                    <h2>Need any further assitance?</h2>
                    <p>Feel free to reach out for any inquiries or assistance.</p>
                    <a href="{% url 'solvifyhub:contact' %}" class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>


        <!-- Contact -->
        <section class="contact-area">
            <div class="custom-container">
                <div class="custom-row">
                    <div class="contact-form-wrap">
                        <div class="contact-form-body">
                            <h5 class="section-subtitle">Contact</h5>
                            <h1 class="section-title">Lets get in touch</h1>
                            <p>You can reach us anytime via <a href="mailto:bluebase@mail.com">bluebase@mail.com</a></p>
                            <form action="https://wpriverthemes.com/HTML/synck/assets/mail/contact.php" method="POST" class="contact-form">
                                <div class="input-row">
                                    <div class="input-group">
                                        <label for="first_name">First Name</label>
                                        <input id="first_name" type="text" name="first_name" placeholder="First Name" />
                                    </div>
                                    <div class="input-group">
                                        <label for="last_name">Last Name</label>
                                        <input id="last_name" type="text" name="last_name" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" placeholder="Your Email" />
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group phone-number">
                                        <select class="number-prefix">
                                            <option value="uk">UK</option>
                                            <option value="us">US</option>
                                        </select>
                                        <label for="phone_number">Phone Number</label>
                                        <input id="phone_number" type="text" name="phone_number" placeholder="Your Number" />
                                    </div>
                                    <div class="input-group">
                                        <label for="country">Country</label>
                                        <input type="text" id="homeland" name="country" placeholder="Your Country" />
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" placeholder="Leave us a message...."></textarea>
                                    </div>
                                </div>
                                <div class="input-row">
                                    <div class="input-group input-checkbox">
                                        <input type="checkbox" id="privacy_policy_accept">
                                        <label for="privacy_policy_accept">You agree to our <a href="#">terms and conditions.</a></label>
                                    </div>
                                </div>

                                <div class="input-row">
                                    <div class="input-group">
                                        <button id="submit" class="theme-btn">Get Started</button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="input-row">
                                    <div class="input-group alert-notification">
                                        <div id="alert-message" class="alert-msg"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="contact-experience">
                        <ul>
                            <li>
                                <h1>22+ <span>Years</span></h1>
                                <p>Field Experience </p>
                            </li>
                            <li>
                                <h1>950+ <span>Projects</span></h1>
                                <p>Done Around World </p>
                            </li>
                            <li>
                                <h1>99%</h1>
                                <p>Client Satisfaction</p>
                            </li>
                            <li>
                                <h1>1995+ <span>Year</span></h1>
                                <p>Established On</p>
                            </li>
                            <li>
                                <h1>2 <span>Mins</span></h1>
                                <p>Response Time</p>
                            </li>
                        </ul>
                    </div>

                    <div class="contact-infos">
                        <div class="contact-infos-inner">
                            <div class="contact-info">
                                <img src="{% static 'img/support-icon.svg' %} " alt="Support" />
                                <h3>Contact Info</h3>
                                <p>
                                    +1 455 1482 236 <br>
                                    Bluebase@mail.com
                                </p>
                            </div>
                            <div class="contact-office-info contact-info">
                                <img src="{% static 'img/map-icon.svg' %} " alt="Map" />
                                <h3>Visit our office</h3>
                                <p>16/9, Down Street
                                    Edinburgh, Scotland
                                    United Kingdom</p>
                            </div>

                            <ul class="contact-social-links">
                                <li>
                                    <a href="#">
                                        <i class="iconoir-dribbble"></i> Dribbble
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoir-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoir-instagram"></i> Instagram
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoir-linkedin"></i> linkedin
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {% include 'includes/footer.html' %}
    {% endblock %}