{% extends 'base.html' %}
{% load static %}
{% block title %} Service {% endblock %}
{% block content %}

    {% include 'includes/navbar.html' %}

        <!-- Service Hero -->
        <section class="hero-service-wrap hero-section-wrap">
            <div class="hero-section-content-wrap">
                <div class="custom-container">
                    <div class="hero-section-content text-center">
                        <h5 class="section-subtitle">Our Services</h5>
                        <h1 class="section-title fade-in">Empowering you with premier <br>
                            solutions and support</h1>
                        <p>At Premier Services, we are committed to providing exceptional solutions and <br>unwavering support to meet your every need.</p>
                    </div>

                    <div class="hero-service-about">
                        <img src="{% static 'img/hero-service-about.jpg' %} " alt="Service About"/>
                        <div class="hero-service-about-body">
                            <p>Our team is a collective force of top talents, pros, experts, and visionaries from diverse fields. With a passion for excellence, our professionals bring a wealth of experience and knowledge to every project. At Slack, we are committed to delivering nothing short of excellence. From concept to implementation, we maintain the highest standards of quality and craftsmanship, leaving no room for compromise.</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Managed Services and Products
                                </li>
                                <li>
                                    <i class="las la-check"></i> Flexibility and Adaptability
                                </li>
                                <li>
                                    <i class="las la-check"></i> Competitive Advantage
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!-- Service Area -->
        <section class="service-area">
            <div class="custom-container">
                <div class="service-section-header section-header d-flex align-items-end justify-content-between">
                    <div class="left">
                        <h5 class="section-subtitle">WHAT WE’RE OFFERING</h5>
                        <h1 class="section-title">Dealing in all professional <br>IT services.</h1>
                    </div>
                    <p>One fundamental aspect of IT services is infrastructure management. This involves the design,
                        implementation, and maintenance of the hardware, software, networks, and servers.</p>
                </div>

                <div class="services-list">
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-1.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Development</a></h3>
                        <p>Website & Android Development.</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-2.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">E-Commerce</a></h3>
                        <p>We have a best team for your shopping websites.</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/hwd-icon-4.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Cloud Services</a></h3>
                        <p>AWS Deployment, AWS Serverless Architecture etc.</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-4.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Web Design</a></h3>
                        <p>We create vibrant and minimalist Web Designs in Figma</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-3.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">CRM Solutions</a></h3>
                        <p>We enhance customer experiences for success.</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-6.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Hardware Services</a></h3>
                        <p>We offers expert assistance
                            for your IT issues.</p>
                    </div>

                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-7.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Network Security</a></h3>
                        <p>We have a best team for your shopping websites.</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-8.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Monitoring</a></h3>
                        <p>We enhance customer
                            experiences for success.</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <img src="{% static 'img/service-icon-9.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">Email Services</a></h3>
                        <p>We create vibrant, intuitive
                            and minimalist web</p>
                    </div>
                    <div class="service-card simple-shadow">
                        <span class="service-badge">Free!</span>
                        <img src="{% static 'img/service-icon-5.svg' %} " alt="Service Icon" class="service-icon" />
                        <h3><a href="{% url 'solvifyhub:service_details' %}">IT Support</a></h3>
                        <p>We offers expert assistance for your IT issues.</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Case Studio -->
        <!-- {% include 'components/case_studio_section.html' %} -->

        <!-- Consulting Excellence -->
        {% include 'components/consulting_excellence_section.html' %}


        <!-- Why our Services Better than Other -->
        {% include 'components/why_our_services_better_section.html' %}

        <!-- Contact Form -->
        {% include 'includes/lets_get_in_touch_form.html' %}

        <!-- Footer -->
        {% include 'includes/footer.html' %}
    {% endblock %}