{% load static %}

<section class="testimonial-area">
    <div class="custom-container">

        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider swiper">

                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial-item">
                        <div class="testimonial-item-body">
                            <img class="bg-shape" src="{% static 'img/bg-shape-3.svg' %}" alt="Shape"/>
                            <span class="platform-name">
                                <img src="{% static 'img/icon-linkedin.svg' %}" alt="Icon"/>
                            </span>
                            <h1>Timely Delivery and Exceptional Quality</h1>
                            <p>I hired Vaibhav's and his team's services to develop our company's website. The delivery was done on time and we are happy with the output. Recommend their services for anyone who require web design/software development support.</p>
                            <div class="author-box d-flex align-items-center">
                                <img src="{% static 'img/aditya.png' %}" alt="Testimonial"/>
                                <div class="author-box-content">
                                    <h4>Aditya Agarwal</h4>
                                    <p>Chief Operating Officer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- navigation buttons -->
            <div class="swiper-button-prev"><i class="iconoir-arrow-left"></i></div>
            <div class="swiper-button-next"><i class="iconoir-arrow-right"></i></div>
        </div>

    </div>
</section>